<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1oNkaYxjmF_T25nmiUIq772tf5qjGeCY</string>
	<key>GCM_SENDER_ID</key>
	<string>876100663999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nikitaspiridonov.non-bank</string>
	<key>PROJECT_ID</key>
	<string>non-bank-69eb0</string>
	<key>STORAGE_BUCKET</key>
	<string>non-bank-69eb0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876100663999:ios:9e2ea902e75a4ce329240a</string>
</dict>
</plist>